@mixin wrapper {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  
    @media screen and (max-width: 1920px) {
      max-width: 1600px;
    }
    @media screen and (max-width: 1600px) {
      max-width: 1500px;
    }
    @media screen and (max-width: 1366px) {
      max-width: 1300px;
    }
    // @media screen and (max-width: 1024px) {
    //   padding: 0 2rem;
    // }
    // @media screen and (max-width: 575px) {
    //   padding: 0 1rem;
    // }
    @media screen and (max-width: 575px) {
        padding: 0 0.5rem;
    }
  }
  
  @mixin mainWrapper {
    padding-top: 40px;
    padding-bottom: 100px;
    @include mobile {
      padding-top: 30px;
    }
  }
  
  @mixin desktop-min {
    @media screen and (max-width: 1500px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 575px) {
      @content;
    }
  }
  
  @mixin mobile-min {
    @media screen and (max-width: 375px) {
      @content;
    }
  }
  