.asideContainer {
    padding: 20px 1rem;
    border-right: 1px solid var(--green-400);
    background: linear-gradient(180deg, rgba(10,48,45,1) 0%, rgba(9,9,121,0) 35%, rgba(9,9,121,0) 65%, rgba(10,48,45,1) 100%);
    filter: brightness(0.7);
    transition: 0.1s;

    &:hover {
        border-color: var(--green-300);
        // box-shadow: 0px 0px 10px 1px var(--green-400);
        filter: brightness(1);
      }
}

.asideNav {
    height: 100%;
}

.asideMenuList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}